*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: 62.5%;
}

html{
  width: 100%;
  body{
    background: url('../images/Books-Background.jpg') no-repeat center top fixed;
    background-size: cover;
    main{
      &:after{
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }
      width: 65%;
      margin: 5% auto;
      border-radius: 5px;
      background-color: rgba(210, 210, 210, 0.7);
      padding: 2%;
      h1, h2{
        text-align: center;
      }
      h1{
        border-bottom: 1px solid rgb(33, 33, 33);
      }
      button{
        width: 20%;
        height: 25px;
        border-radius: 5px;
        border: none;
        outline: none;
        margin: 1%;
        font-size: 1.1rem;
        background: #8CACD2;
        box-shadow: 5px 5px 1px 0 rgb(67,82,100);
        -moz-box-shadow:  5px 5px 1px 0 rgb(67,82,100);
        -webkit-shadow:  5px 5px 1px 0 rgb(67,82,100);
        float: none;
        color: rgb(255, 255, 255);
        padding: 1%;
        &:focus, &:active{
          outline: none;
        }
        &:active {
          position: relative;
          top: 3px;
          box-shadow: none;
          -moz-box-shadow: none;
          -webkit-shadow: none;
        }
      }
      .books{
        display: inline-block;
        width: 49%;
        margin-top: 1%;
        .book{
          width: 100%;
          border-radius: 7px;
          border: 1px solid rgb(53, 53, 53);
          margin: 2% 0;
          font-size: 1.3rem;
          background: aliceblue;
          padding: 2%;
          float: left;
          .title{
            text-align: center;
            margin-bottom: 1%;

          }
        }
      }
      .edit-book{
        display: inline-block;
        width: 49%;
        float: right;
        border-radius: 7px;
        border: 1px solid rgb(53, 53, 53);
        margin: 2% 0;
        font-size: 1.3rem;
        background: aliceblue;
        padding: 1%;
        button{
          width: 35%;
          height: 35px;
        }
        label{
          display: inline-block;
          width: 40%;
        }
        input{
          color: black;
          width: 58%;
          height: 30px;
          border-radius: 5px;
          margin: 1%;
          border: 1px solid rgb(53, 53, 53);
          outline: none;
          padding: 1%;
        }
      }
      .new-book{
        display: inline-block;
        width: 49%;
        float: right;
        border-radius: 7px;
        border: 1px solid rgb(53, 53, 53);
        margin: 2% 0;
        font-size: 1.3rem;
        background: aliceblue;
        padding: 1%;
        button{
          width: 35%;
          height: 35px;
        }
        label{
          display: inline-block;
          width: 40%;
        }
        input{
          color: black;
          width: 58%;
          height: 30px;
          border-radius: 5px;
          margin: 1%;
          border: 1px solid rgb(53, 53, 53);
          outline: none;
          padding: 1%;
        }
      }
    }
  }
}